<form [formGroup]="form">
  <div class="row">
    @for(question of questions; track $index) {
      @switch (question.type) {
        @case (types.EMAIL) {
          <app-basic-input 
            [question]="question"
            [control]="form.get(question.key)!"
            [class]="question.class"
          >
          </app-basic-input>
        }
        @case (types.PASSWORD) {
          <app-password-input 
            [question]="question"
            [control]="form.get(question.key)!"
            [class]="question.class"
          >
          </app-password-input>
        }
        @case (types.AUTOCOMPLETE) {
          <app-autocomplete-input
            [question]="question"
            [control]="form.get(question.key)!"
            [class]="question.class"
            [options]="autocompleteServices[question.key]"
          >
          </app-autocomplete-input>
        }
        @default {
          <app-basic-input 
            [question]="question"
            [control]="form.get(question.key)!"
            [class]="question.class"
          >
          </app-basic-input>
        }
      }
    }
  </div>
</form>
