<div class="sign-in-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div
        class="default-form ml-auto mr-auto border-radius bg-white"
        [class.component-dark-theme]="themeService.isDark()"
      >
        <div class="title text-center">
          <h3>
            Acesse sua conta
          </h3>
          <p class="text-black">
            Não tem uma conta ainda? <a routerLink="/authentication/sign-up" class="text-default">Inscrever-se</a>
          </p>
        </div>
        <form [formGroup]="form">
          <div class="form-group">
            <label class="main-label d-block lh-1 text-black">
              Usuário ou Email
            </label>
            <mat-form-field>
              <mat-label>
                Entre com seu usuário ou email
              </mat-label>
              <input matInput [formControl]="form.controls.identifier" type="string" id="email">
            </mat-form-field>
            <div class="error text-danger" *ngIf="form.controls.identifier.hasError('required') && form.controls.identifier.touched">
              Usuário ou Email é obrigatório.
            </div>
            <div class="error text-danger" *ngIf="form.controls.identifier.hasError('email') && form.controls.identifier.touched">
              Por favor insira um usuário ou endereço de e-mail válido.
            </div>
          </div>
          <div class="form-group">
            <label class="main-label d-block lh-1 text-black">
              Sua senha
            </label>
            <mat-form-field>
              <mat-label>
                Entre com sua senha!
              </mat-label>
              <input matInput [formControl]="form.controls.password" [type]="hide ? 'password' : 'text'" id="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <span class="material-symbols-outlined">
                    {{hide ? 'visibility_off' : 'visibility'}}
                </span>
              </button>
            </mat-form-field>
            <div class="error text-danger" *ngIf="form.controls.password.hasError('required') && form.controls.password.touched">
              Senha requerida.
            </div>
            <div class="error text-danger" *ngIf="form.controls.password.hasError('minlength') && form.controls.password.touched">
              A senha deve ter pelo menos 8 caracteres.
            </div>
          </div>
          <div class="info d-flex justify-content-between align-items-center">
            <mat-checkbox>
              Lembrar-me
            </mat-checkbox>
            <a routerLink="/authentication/forgot-password" class="d-inline-block text-default">
              Esqueceu a senha?
            </a>
          </div>
          <button mat-button class="btn" type="submit" [disabled]="form.invalid" (click)="onSave()">
            Entrar
          </button>
          <div *ngIf="errorMessage" class="error text-danger">
            {{ errorMessage }}
          </div>
          <div class="signin-with-socials text-center">
            <div class="or position-relative">
              <span class="d-inline-block">
                ou faça login com
              </span>
            </div>
            <div class="socials">
              <button mat-button type="button" class="facebook">
                <i class="ri-facebook-fill"></i>
              </button>
              <button mat-button type="button" class="twitter">
                <i class="ri-twitter-x-fill"></i>
              </button>
              <button mat-button type="button" class="google">
                <i class="ri-google-fill"></i>
              </button>
              <button mat-button type="button" class="linkedin">
                <i class="ri-linkedin-fill"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
