<div class="form-field w-100" [class]="question.inputClass">
  <div class="form-group">
    @if(question.label){
      <label class="main-label d-block lh-1 text-black">
        {{question.label}}
    </label>
    }
    <mat-form-field 
      class="mat-form end"
      [class.start]="question.startIcon"
    >
      @if(question.placeholder){
        <mat-label>
          {{ question.placeholder }}
        </mat-label>
      }
      @if(question.startIcon) {
        <div
          class="icon-start"
          [matTooltip]="question.startIcon.tootip || ''"
          [style.color]="question.startIcon.color"
        >
          <i class="material-symbols-outlined">
            {{question.startIcon.icon}}
          </i>
        </div>
      }
      <input 
        matInput 
        [type]="isPasswordVisible ? 'text' : 'password'"
        [id]="question.key"
        [formControl]="formControl"
        [errorStateMatcher]="matcher"
        [minlength]="question.minlength || null"
        [maxlength]="question.maxlength || null"
        [pattern]="question.pattern || ''"
        [matTooltip]="question.inputTooltip || ''"
        [class.error]="formControl.errors && (formControl.touched || formControl.dirty)"
      >
      <div
        class="icon-end"
        (click)="showPassword()"
        [matTooltip]="isPasswordVisible ? 'Ocultar senha' : 'Mostrar senha'"
      >
        @if(isPasswordVisible) {
          <span class="material-symbols-outlined">
            visibility_off
          </span>
        } @else {
          <i class="material-symbols-outlined">
            visibility
          </i>
        }
      </div>
    </mat-form-field>
    <div class="error-wrapper">
      @if (formControl.errors && (formControl.touched || formControl.dirty)) {
        <mat-error>
          {{ formControl.errors | formError}}
        </mat-error>
      }
    </div>
  </div>
</div>