<div class="form-field w-100" [class]="question.inputClass">
  <div class="form-group">
    @if(question.label){
      <label class="main-label d-block lh-1 text-black">
        {{question.label}}
    </label>
    }
    <mat-form-field 
      class="mat-form"
      [class.end]="question.endIcon"
      [class.start]="question.startIcon"
    >
      @if(question.placeholder){
        <mat-label>
          {{ question.placeholder }}
        </mat-label>
      }
      @if(question.startIcon) {
        <div
          class="icon-start"
          [matTooltip]="question.startIcon.tootip || ''"
          [style.color]="question.startIcon.color || 'var(--blackColor)'"
        >
          <i class="material-symbols-outlined">
            {{question.startIcon.icon}}
          </i>
        </div>
      }
      <input 
        matInput 
        [type]="question.type"
        [id]="question.key"
        [formControl]="formControl"
        [errorStateMatcher]="matcher"
        [minlength]="question.minlength || null"
        [maxlength]="question.maxlength || null"
        [pattern]="question.pattern || ''"
        [matTooltip]="question.inputTooltip || ''"
        [mask]="question.mask"
        [class.error]="formControl.errors && (formControl.touched || formControl.dirty)"
        [prefix]="question.prefix || ''"
      >
      @if(question.endIcon) {
        <div
          class="icon-end"
          [matTooltip]="question.endIcon.tootip || ''"
          [style.color]="question.endIcon.color"
        >
          <i class="material-symbols-outlined">
            {{question.endIcon.icon}}
          </i>
        </div>
      }
    </mat-form-field>
    <div class="error-wrapper">
      @if (formControl.errors && (formControl.touched || formControl.dirty)) {
        <mat-error>
          {{ formControl.errors | formError}}
        </mat-error>
      }
    </div>
  </div>
</div>