:host {
  display: block;
}

label {
  margin-bottom: 8px;
}

.form-group {
  padding-bottom: 20px;
  position: relative;

  .error-wrapper {
    position: absolute;
    bottom: 2px;
    left: 8px;
    font-size: 14px;
  }
}

::ng-deep .mat-form {
  position: relative;

  &.end {
    .mdc-text-field {
      padding-right: 36px;
    }
  }

  &.start {
    .mdc-text-field {
      padding-left: 36px;
    }
  }

  .icon-end, .icon-start {
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-end {
    right: -40px;
  }

  .icon-start {
    left: -16px;
  }
}

::ng-deep .dark-theme {
  .icon-end, .icon-start {
    color: var(--whiteColor) !important;
  }
}
