.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

header {
  position: relative;
  z-index: 3;
  padding: 12px;
  background: var(--bg-primary-color);
  height: 86px;
}
.logo {
  width: 80px;
}
.logo:hover {
  cursor: pointer;
}
.top_menu {
  margin-top: 18px;
  z-index: 2;
}
.top_menu ul {
  padding: 0;
  margin: 0;
}
.top_menu ul li {
  list-style-type: none;
  display: inline-block;
}
.top_menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  margin-left: 26px;
}
.top_menu ul li a:hover {
  font-weight: bold;
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}
.menu-icon {
  display: none;
}
@media screen and (min-width: 128px) and (max-width: 900px) {
  .top_menu {
    position: fixed;
    transition: 0.5s ease-in-out;
    right: -280px;
    top: 64px;
    background: var(--bg-primary-color);
    width: 240px;
    height: 100%;
    margin-top: 0;
  }
  .top_menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid var(--text-color);
  }
  .menu-icon {
    display: block;
    font-size: 36px;
    color: var(--text-color);
  }
  .mobile_menu {
    right: 0;
    transition: 0.5s ease-in-out;
  }
}
