# Editor configuration, see https://editorconfig.org
root = true

# Apply these rules to all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Specific rules for Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# Specific rules for JSON files
[*.json]
indent_size = 2

# Specific rules for HTML files
[*.html]
indent_size = 2

# Specific rules for CSS files
[*.css]
indent_size = 2

# Specific rules for JavaScript files
[*.js]
indent_size = 2

# Specific rules for TypeScript files
[*.ts]
indent_size = 2
