/* You can add global styles to this file, and also import other style files */
:root {
  --fontFamily: 'Outfit', sans-serif;
  --defaultColor: #563daa;
  --primaryColor: #382276;
  --dangerColor: #e74c3c;
  --infoColor: #C8BCFC;
  --warningColor: #ffb264;
  --successColor: #2ed47e;
  --blackColor: #131113;
  --whiteColor: #ffffff;
  --bodyColor: #878787;
  --transition: .5s;
  --fontSize: 16px;
  --borderBoxShadow: rgba(0, 0, 0, .05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: var(--blackColor);
  background-color: #f4f3fa;
  font: {
      weight: 400;
      size: var(--fontSize);
      family: var(--fontFamily);
  };
}
a {
  transition: var(--transition);
  color: var(--blackColor);
  text-decoration: none;
  outline: 0 !important;

  &:hover {
      text-decoration: none;
      color: var(--defaultColor);
  }
}
.d-table {
  width: 100%;
  height: 100%;

  &-cell {
      vertical-align: middle;
  }
}
img {
  max-width: 100%;
  height: auto;
}
input {
  font: {
      family: var(--fontFamily);
      size: var(--fontSize);
  };
}
button {
  font: {
      family: var(--fontFamily) !important;
      size: var(--fontSize) !important;
  };
}
.mb-25 {
  margin-bottom: 25px !important;
}

// Utilities CSS
@import "./utilities";

// UI Kit CSS
@import "./ui-kit";

// Typography CSS
@import "./typography";

// RTL CSS
@import "./rtl";

// Dark CSS
@import "./dark";

/* Max width 767px */
@media only screen and (max-width : 767px) {

  body {
      font-size: 14px;
  }
  .mb-25 {
      margin-bottom: 15px !important;
  }
  button {
      font-size: 14px !important;
  }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

  .mb-25 {
      margin-bottom: 20px !important;
  }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

  body {
      font-size: 15px;
  }
  button {
      font-size: 15px !important;
  }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
