<app-header />
<section id="home">
  <div class="container">
    <div class="public-content">
      <h3 class="mb-0">Bem vindo a</h3>
      <h1 class="public-title">CENTRAL MIDI</h1>
      <p class="public-text">O melhor e maior site de MIDI com os grandes sucessos</p>
    </div>
  </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ri-shadow-fill">
                <div class="public-feature">
                    <div class="feature-icon">
                        <i class="material-icons-outlined">settings</i>
                    </div>
                    <h3 class="feature-title">Easy to Customize</h3>
                    <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="public-feature">
                    <div class="feature-icon">
                        <i class="material-icons-outlined">security</i>
                    </div>
                    <h3 class="feature-title">Secure and Reliable</h3>
                    <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="public-feature">
                    <div class="feature-icon">
                        <i class="material-icons-outlined">support</i>
                    </div>
                    <h3 class="feature-title">24/7 Support</h3>
                    <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer />
