:host {
  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      .display_home {
        margin: 130px 20px;
        background: url('public/images/cm/banner.png') no-repeat center center;
        background-size: cover;
        height: 500px;
        .text{
          padding-top: 130px;
          margin-left: 200px;
          h3, h1, p {
          color: #fff!important;
          }
        }
      }
    }
  }
  #impact {
    height: 100vh;
  }
}
